{% extends 'layout2.html.twig' %}

{% block content %}

	<div class="d-flex  flex-column align-items-center justify-content-top" style="height: calc(83vh + 5px);">


		<h1>Lancement de la platforme</h1>
		<p>Prêt à regarder E-BOT ? Saisissez votre adresse e-mail pour briser l'ennui sur Mars.</p>

		{% if error %} 
			<div class="alert text-alert">
				<p> {{ error }} </p>
			</div>
		{% endif %}

		<div class="input-group col-4 mb-3 d-block">
			<div class="input-group-append justify-content-center">
				<form method="POST">
					<input name="name" type="text" class="form-control" style="color:white;">
					<button class="btn btn-outline-secondary" id="boutonrouge" type="submit">Get started ></button>
				</form>
			</div>
		</div>
	</div>


	<hr class="separator">
	<div class="video-container">
		<video autoplay loop="true">
			<source type="video/mp4" src="/assets/images/Binary_numbers_bg_01_Videvo (convert-video-online.com).mp4">
		</video>
		<div class="overlay">
			<h1>Films, séries TV et bien plus en illimité.
			</h1>
		</div>
	</div>
	<hr class="separator">

	<div class="card-home row mx-0">
		<div class="col-3"></div>
		<div class="col-3 mt-5 vertical-align-center">
			<h5>Made by humans.</h5>
			<h1>Made for robots</h1>
		</div>
		<div class="col-3">
			<div class="col-2"></div>
			<img src="/assets/images/Terminator-face.png">
		</div>
		<div class="col-1"></div>
	</div>
	<hr class="separator">

	<div class="card-home row mx-0">
		<div class="col-3 offset-2">
			<img src="/assets/images/android.png">
		</div>

	</div>
	<hr class="separator">

	<div
		class="card-home row mx-0">
		{# {% for movie in movieType %} #}
		{% for movie in 1..1 %}
			<div class="col-7"></div>
			<div class="col-3 offset-1">
				{% include "Component/_card_home.html.twig" %}

			</div>
		{% endfor %}
	</div>

	<style>
		.card-home {
			background-color: black;
			height: 400px;
			padding: 30px;
		}

		.card-home img {
			height: 340px;
		}

		.video-container {
			position: relative;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 200px;
			overflow: hidden;


		}
		.separator {
			height: 5px;
			background-color: black;
			margin: 0;
			border-top: 1px solid grey;
			border-bottom: 1px solid grey;

		}
		.video-container video {
			/* Make video to at least 100% wide and tall */
			min-width: 100%;
			min-height: 100%;

			/* Setting width & height to auto prevents the browser from stretching or squishing the video */
			width: auto;
			height: auto;

			/* Center the video */
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.overlay {
			background-image: linear-gradient(to bottom right,#002f4bdc,#dc4225dc);


			position: relative;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			box-sizing: border-box;
			padding: 5% 32px;
			line-height: 1.5;
			text-align:center;:last-child {
				margin-bottom: 0;
			}
			h1 {
				font-size: 32pt;
				font-weight: bold;
				text-shadow: 0 0 0.3em #000;
				margin: 0 0 1em;
			}
			p {
				font-size: 11pt;
				text-shadow: 0 0 0.3em #000;
				margin: 1em 0;
			}
			a {
				color: #fff;
			}
		}


		body {

			color: #fff;
			font-family: 'Oxygen', sans-serif;
		}
	</style>

{% endblock %}
