body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://cdn.discordapp.com/attachments/841598092872777728/841598271335825418/alien-4852662_1920.jpg');
}

.titre{
    letter-spacing: 5px;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;
    font-size: 2rem;
}

a:link 
{ 
 text-decoration:none; 
} 