body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://cdn.discordapp.com/attachments/841595348140687373/841634318492631050/wall-e.jpeg');
}

/* -------------------------------------------------- account ----------------------------------------------------*/



/* -------------------------------------------------- account ----------------------------------------------------*/