
<div class="card text-white border-dark">
	<img class="card-img" src="https://live.staticflickr.com/2151/2144882415_7a8d4999e7_c.jpg" alt="Card image">
	<div class="card-img-overlay align-items-start d-flex flex-column justify-content-end card-text-effects">
		<h5 class="card-title m-0 text-title-size">{{ movie.type ?? 'type' }}</h5>
	</div>
</div>

