<div class="accueil carousel d-none d-md-block">
	<div class="carousel-row">
		{% for movie in moviesCarousel %}
			<div class="carousel-tile">
				{% include "Component/_card_carousel.html.twig" %}
            </div>
		{% endfor %}
	</div>
</div>