{% block navbar %}
<nav class="navbar navbar-light bg-none">
  <div class="container-fluid">
    <a href="" class="navbar-brand"><img src="/assets/images/logo.gif" style="width: 50px;"></a>
	<h1>E-BOT</h1>
    <a class="d-flex input-group w-auto">
      <i class="bi bi-person" style="font-size:1.5em; color: white;"></i>
    </a>
  </div>
</nav>
{% endblock %}
