{% block navbar %}

	<nav class="navbar bg-none navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<img src="/assets/images/logo.png" style="font-size: 0.9em">
			<form id='nav-element-mobile' method="post" action="/explorer/search" class="search w-100 col-4 offset-2">
				<input class="searchBar form-control" name="searchbar" type="search" placeholder="Votre recherche" aria-label="Search">
			</form>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="row w-100">
					<ul class="navbar-nav w-100">
						<li id='nav-element-desktop' class="nav-Explorer col-1 offset-5">
							<a class="nav-link text-white" href="/explorer/index">Explorer<span class="sr-only"></a>
							</li>
					
						<li id='nav-element-desktop' class="nav-Login-1 col-1 offset-4">
							<a class="nav-link" href="/login/index">
								<i class="far fa-user" style="color:white; font-size: 1.5em"></i>
								<span class="sr-only"></a>
							</li>
						
            {# <li>
					<div class="overlay-2">
						<a href="#" class="signin m-2">Sign In</a>
						<form class="signinform">
							<div class="fadeIn">
								<button id="btSubmit" type="submit" class="signin-submit">Sign in</button>

						</form>
            </li> #}
					</ul>

						</div>
					</div>
				</div>
			</nav>

			<script>
				document.querySelector('[name="search"]').addEventListener('keyup', event => {
const searchValue = event.currentTarget.value;
const form = new FormData();
form.append('search', searchValue);
fetch('/explorer/searchAjax', {
method: 'POST',
body: form
}).then(response => response.text()).then(html => { // On met à jour le contenu du div search-result avec le html retourné par searchAjax
document.querySelector('.search-result').innerHTML = html;
});
}, false);
			</script>
		{% endblock %}
